.index-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 34px;
  padding: 20px 30px;
  border-bottom: 1px solid #eee;
  .back-arrow {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('@/assets/icon/back.png') no-repeat;
    background-size: contain;
  }
}